#checkpoints and csv
modulo_1/.ipynb_checkpoints/
modulo_1/csvs/
modulo_1/desafio_modulo1/.ipynb_checkpoints/
modulo_1/desafio_modulo1/csv/

modulo_2/.ipynb_checkpoints/
modulo_2/csvs/
modulo_2/desafio_modulo2/.ipynb_checkpoints/
modulo_2/desafio_modulo2/csv/